@import url(fonts.css);
@import url(popup.css);

body {
    margin: 0;

    font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.console-top-menu {
    display: flex;
    margin : 2.5em;

    justify-content: flex-start;
    align-items    : flex-start;
}

.console-top-menu-item {
    margin: 0 0.0em;
}

.console-top-menu-link {
    padding: 0.5em 1em;

    text-decoration: none;
    color          : black;

    border-bottom: 3px double black;
    background   : white;
}

.console-top-menu-link:hover {
    border-bottom: 3px solid black;
}

/* page */

.console-columns-block {
    margin : 2.5em 1.5em;
}

.console-column {
    margin : 0 0.5em; 
    width  : 100%;
}

.console-column-tile {
    margin : 0 0 0.5em 0;
    padding: 0.25em 0.5em;
}

.column-tile-header {
    margin: 0.5em;
}

.column-tile-border {
    border       : 1px solid gray;
    box-shadow   : 0 0 3px 1px gray;
    border-radius: 4px;
}

.columns-block {
    display: flex;

    justify-content: flex-start;
    align-items    : flex-start;
}

.file-upload-label > input[type=file] {
    display: none;
}

.file-upload-label > span {
    display: block;
    padding: 0.25em 0.75em;
    cursor : pointer;

    border: 1px dashed black;
}

.file-upload-button {
    padding: 0.25em 0.75em;
    margin : 0.5em 0 0 0;
    cursor : pointer;

    font-size: 13pt;

    border    : 1px solid black;
    outline   : none;
    background: none;
}

.form-textarea {
    min-height: 128px;
    width     : calc(100% - 0.5em);
    margin    : 1em 0 0 0;
    resize    : vertical;
}

@keyframes linear-preloader-animation {
    0% {
        background: white;
    }
    25% {
        background: black;
    }
    100% {
        background: white;
    }
}

.linear-preloader {
    opacity: 0;
}

.linear-preloader > div {
    display: inline-block;
    width  : 4px;
    height : 4px;

    border       : 1px solid black;
    border-radius: 8px;
}

.linear-preloader > div:nth-of-type(1) {
    animation: linear-preloader-animation 1s infinite;
}

.linear-preloader > div:nth-of-type(2) {
    animation: linear-preloader-animation 1s 0.25s infinite;
}

.linear-preloader > div:nth-of-type(3) {
    animation: linear-preloader-animation 1s 0.5s infinite;
}

.console-list {
    padding            : 0 0 0 0.75em;
    list-style-position: inside;
}

.console-list-item {
    margin: 0.75em 0;

    font-size     : 12pt;
    font-family   : Arial, Helvetica, sans-serif;
    letter-spacing: 0.5pt;
}

.script-item-name {
    display: inline-block;
    padding: 0 0 0 0.5em;
    width  : 50%;
}

.windows-script {
    list-style-image: url(/misc/img/icons/windows.png);
}

.linux-script {
    list-style-image: url(/misc/img/icons/linux.png);
}